*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.margin{
    margin: 0 19%;
}
.navbar{
    display: flex;
    height:70px;
    width:100%;
    position: fixed;
    background-color: white;
    justify-content: space-between;
    padding: 0 20%;
    
}
.navlogo{
    width:268px;
    height:68px;
}
.navitems{
    display: flex;
    position: relative;
    align-content: center;
    justify-content: space-between;
    width: 251.817px;
    height:69.9px;
    padding:19.95px 0 19.95px 0    
}
.navbar a:hover{
    color:#63b39b;  
}
.dropdown{
    display:none;
    position :absolute;
    list-style-type: none;
    color:#c6b9d3;
    align-items: space-between;
    width:220px;
    height:220px;
    background-color: white;
  }
  .drop:hover .dropdown{
    display:flex;
    flex-direction:column;
    align-items: start;
    justify-content: space-around;
    margin-left: -100px;
    box-shadow:0 5px 10px 0 #d3cfc9

  }
.aboutus{
    color:#63b39b;
    text-decoration: none
}
.navbuttons{
    color:#c6b9d3;
    text-decoration: none
}
.leadsection{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    width:1015px;
    height:308.8px;
    flex-direction: column;
    align-content: space-between;
    align-self: center;
               
}
.smalllogo{
    height:40px;
    width:39px;
    display: flex;
    justify-content: center;
    align-self: center;
    }
.leadsection h2{
    color: #00b39b;
    align-self: center;

}
.leadsection p{
    color:#747474;
    text-align: justify;

}
.sectiondescription{
    width: 46%;
    height:157.6px;
    padding:10px;
}
.offerdescription{
    display: flex;
    flex-direction: row ;
}
.servicespresentations{
    width:100%;
    height:412px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.clientspresentation{
    width: 48%;
    height:412px;
    margin:5px;
    overflow: hidden;
}
.clientspresentation h2{
    color:white;
    text-align: justify;
    padding:7.8px 0 26px 0
}
.clientspresentation p{
    color:#c5daf5
}
.userinterface1{
    width:397.5px;
    height:248.75px;
    margin-left: -28px;
}
.patientspresentation{
    background-color: #00ccb1;
    padding: 0 40px;
    padding-top:22px
}
.doctorspresentation{
    background-color: #3d83df;
    padding: 0 40px;
    padding-top:22px
}
.choosecountry{
    width:184px;
    height: 40px;
    padding:0 42px 0 18px;
    
}
.bottomelements{
    display: flex;

}
.userinterface2{
    width:397.5px;
    height:248.75px;
    margin-left: 135px;
}
.localsites{
    display: flex;
    flex: nowrap;
    margin:50px 0
}
.siteslogolist{
    display: flex;
    flex-wrap: wrap;
    height:89.6px;
    flex-direction: row;
    width:66%;
    align-content:center
}
.siteslogo{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.localsites svg{
    width:150px;
    height:34.8px;
    padding:0 5px;
    fill:#c4c4c4
}
.localsites h1{
    color:#00b39b;
    width:33%
}
.localsites svg:hover{
    fill:#00b39b
}
.stats{
    background-color: #dbf7f6;
    height:600px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 20% 0 20%;
    padding-bottom: 80px;
    overflow: hidden;
}
.statspresentation{
    width:100%;
    padding-left:;
}
.statspresentation h1{
    color:#00b39b;
    padding:100px 0 50px
    
}
.backgroundlogo{
    width: 90%;
    margin-top: 5%;
    margin-left: -30%;

}
.itemsblock{
    height: 250px;
    background-color: white;
    padding:15px;
    margin-bottom: 10px;
    text-align: center;
    width:90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.illustration{
    height:40px;
    width:40px;
    display: flex;
    align-self: center;
}
.column1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:24%;
    margin-top:60px;
    align-items: center;

}
.column2{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:24%;
    margin-top:30px;
    align-items: center;
}
.officespresentations{
    height:172.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:50px 0
}
.officespresentations h1{
    color: #0fb49b;
}
.officespresentations p{
    color:#7485a9
}
.officeslider{ 
    height:740.3px;
    display: flex;
    flex-wrap: wrap;

}
.cityimage{
    width:288.4px;
    height:278.55px;
}
.officebutton{
    width:311px;
    height:350.15px;
    padding: 10px;
    }
.cityofficebutton{
    background-color: #3d83df;
    color: white;
    height:30px;
    width: 112.4px;
    padding:5px 15px;
    border-radius: 4px;
    text-align: center;
}
.cityofficebutton:hover{
    background-color: #166cdd;    
}
.officebuttondescription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px
}
.officebutton:hover{
    -webkit-box-shadow: -2px 2px 19px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 19px -4px rgba(0,0,0,0.75);
box-shadow: -2px 2px 19px -4px rgba(0,0,0,0.75);
}
.footnotes{
    height:90px;
    margin-top: 20px;
    padding: 0 20px;
    border-top: black;
    border-width: 4px;
    color:  #ababab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footnotes a{
    text-decoration: none;
    color:#3d97ef
}
hr{
    color:#80808026
}